/* HEADER */
h1 {
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header img {
    width: 8rem;
}
